# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
.expo/
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Tests
coverage/

# Mobile
ios/Pods/
android/.gradle/
