/**
 * Thmanyah — police principale du produit (CLAUDE.md §18).
 * Les fichiers sont servis depuis /public/fonts/thmanyah/ (voir le README
 * de ce dossier) : chemins publics volontairement, pour que le build ne
 * casse pas tant que les fichiers sous licence ne sont pas déposés.
 * Fallback automatique vers Cairo/Inter si un fichier est absent (404).
 */
@font-face {
  font-family: "Thmanyah";
  src: url("/fonts/thmanyah/Thmanyah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah";
  src: url("/fonts/thmanyah/Thmanyah-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah";
  src: url("/fonts/thmanyah/Thmanyah-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah";
  src: url("/fonts/thmanyah/Thmanyah-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
